@media screen and (max-width:1024px){
    .butt {
        margin-top: -40px;
    }
    .sents {
        margin-left: 150px;
    }
    .body-sents {
        margin-left: 150px;
        margin-right: 350px;
    }
    .img-sect {
        margin-left: 90px;
        margin-right: 170px;
    }
    .one span {
        width: 48%;
    }
    .two span {
        width: 38%;
    }
    .three span {
        width: 25%;
    }
    .tes, .center {
        margin-right: 10px;
        margin-left: 10px;
    }
    .body-third {
        margin-left: 200px;
        margin-right: 200px;
    }
    .content {
        width: 290px;
    }
    .me {
        width: 290px;
    }
    
}
@media screen and (max-width:900px){
    .butt {
        margin-top: -40px;
    }
    .sents {
        margin-left: 50px;
    }
    .body-sents {
        margin-left: 50px;
        margin-right: 350px;
    }
    .img-sect {
        margin-left: 50px;
        margin-right: 100px;
    }
    .one span {
        width: 55%;
    }
    .two span {
        width: 45%;
    }
    .three span {
        width: 30%;
    }
    .tes, .center {
        margin-right: 10px;
        margin-left: 10px;
    }
    .content {
        width: 260px;
    }
    .me {
        width: 260px;
    }
    .body-third {
        margin-left: 200px;
        margin-right: 200px;
    }
    .fa-star, .fa-star-half-stroke {
        color: white;
        font-size: 1.5rem;
        text-align: center;
        margin-left: -2px;
    }
    
}
@media screen and (max-width:800px){
    .butt {
        margin-top: -40px;
    }
    .sents {
        margin-left: 30px;
    }
    .body-sents {
        margin-left: 5px;
        margin-right: 400px;
    }
    .img-sect {
        margin-left: 40px;
        margin-right: 100px;
    }
    .img-sect img{
        width: 255px;
    }
    .one span {
        width: 55%;
    }
    .two span {
        width: 45%;
    }
    .three span {
        width: 30%;
    }
    .tes, .center {
        margin-right: 10px;
        margin-left: 10px;
    }
    .cont {
        width: 470px;
    }
    .cont p{
        margin-left: 480px;
    }
    .content {
        width: 240px;
    }
    .me {
        width: 240px;
    }
    .body-third {
        margin-left: 200px;
        margin-right: 200px;
    }
    
}
@media screen and (max-width:700px){
    body {
        width: 100%;
    }
    
    .list {
        flex-direction: column;
        background: black;
        padding: 70px;
        height: 100vh;
        top: 0px;
        position: absolute;
        margin-top: -10px;
        right: -400px;
        transition: 0.5s;
    }
    .list.active {
        right: 0px;
    }
    .list li {
        margin-top: 30px;
        font-size: 2rem;
    }
    .close {
        display: flex;
        flex-direction: column;
        width: 30px;
        height: 20px;
        justify-content: space-between;
        cursor: pointer;
        position: absolute;
        right: -50px;
        transition: 0.5s;
    }
    .close.actives{
        right: 300px;
    }
    .close span {
        background: #fff;
        width: 100%;
        height: 5px;
        position: absolute;
        display: block;
    }
    .clo {
        transform: rotateZ(50deg);
    }
    .se {
        transform: rotateZ(320deg);
    }
    .toogle {
        display: flex;
    }
    .butt {
        margin-top: -40px;
    }
    .sents {
        margin-left: 50px;
        flex-direction: column;
    }
    .sents img {
        margin-left: 45%;
    }
    .body-sents {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
    }
    .body-first p,.body-first h5,.body-second h5,.body-first h1,.body-second h1,.body-second p{
        text-align: center;
        margin-left: 200px;
    }
    .img-sect {
        margin-left: 10px;
        margin-right: 100px;
    }
    .cont {
        margin-left: 15%;
    }
    .one span {
        width: 65%;
    }
    .two span {
        width: 50%;
    }
    .three span {
        width: 30%;
    }
    .cont p{
        margin-left: 480px !important;
    }
    .img-sect {
        flex-direction: column;
        margin-left: 200px;
    }
    .tes, .center {
        margin-right: 2px;
        margin-left: 2px;
        flex-direction: column;
        margin-left: 32%;
    }
    .content {
        width: 260px;
    }
    .me {
        width: 260px;
        margin-top: 20px;
    }
    .body-third {
        margin-left: 200px;
        margin-right: 200px;
    }
    
}

@media screen and (max-width:600px){
    .list {
        flex-direction: column;
        background: black;
        padding: 70px;
        height: 100vh;
        top: 0px;
        position: absolute;
        margin-top: -10px;
        right: -400px;
        transition: 0.5s;
    }
    .list.active {
        right: 0px;
    }
    .list li {
        margin-top: 30px;
        font-size: 2rem;
    }
    .close {
        display: flex;
        flex-direction: column;
        width: 30px;
        height: 20px;
        justify-content: space-between;
        cursor: pointer;
        position: absolute;
        right: -50px;
        transition: 0.5s;
    }
    .close.actives{
        right: 300px;
    }
    .close span {
        background: #fff;
        width: 100%;
        height: 5px;
        position: absolute;
        display: block;
    }
    .clo {
        transform: rotateZ(50deg);
    }
    .se {
        transform: rotateZ(320deg);
    }
    .second-word {
        font-size: 5rem;
    }
    .third-word {
        font-size: 1.8rem;
    }
    .sents p{
        font-size: 1rem;
    }
    .body-sents {
        flex-direction: column;
        margin-left: 5px;
        margin-right: 5px;
    }
    .body-first p,.body-first h5,.body-second h5,.body-first h1,.body-second h1,.body-second p{
        text-align: center;
        margin-left: 160px;
        margin-right: 0px;
    }
    .body-third {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 40px;
        margin-bottom: 100px;
    }
    .body-third li{
        text-align: center;
        width: 100%;
        margin-top: 40px; 
        color: black;
        font-size: 20px;
        border-width: 5px;
        border-style: solid;
        border-color: black;
        padding: 10px 20px;
        transition: all 0.5s ease;
    }
    .body-third li a {
        border: none;
    }
    .body-third li:hover {
        border: 5px solid crimson;
        color: crimson;
    }
    .body-third li:hover a{
        border: none;
        color: crimson;
        width: 100%;
    }
    .img-sect{
        flex-direction: column;
        margin-left: 150px;
    }
    .tes, .center {
        margin-right: 2px;
        margin-left: 2px;
        flex-direction: column;
        margin-left: 26%;
    }
    .back{
        width: 75%;
    }
    

}
@media screen and (max-width:550px){
    .body-third {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 40px;
        margin-bottom: 100px;
    }
    .body-third li{
        text-align: center;
        width: 100%;
        margin-top: 40px; 
        color: black;
        font-size: 20px;
        border-width: 5px;
        border-style: solid;
        border-color: black;
        padding: 10px 20px;
        transition: all 0.5s ease;
    }
    .body-third li a {
        border: none;
    }
    .body-third li:hover {
        border: 5px solid crimson;
        color: crimson;
    }
    .body-third li:hover a{
        border: none;
        color: crimson;
        width: 100%;
    }
    .img-sect{
        flex-direction: column;
        margin-left: 150px;
    }
    .tes, .center {
        margin-right: 2px;
        margin-left: 2px;
        flex-direction: column;
        margin-left: 26%;
    }
    .spac {
        height: 36px;
    }
    .back{
        width: 100%;
    }

}
@media screen and (max-width:500px){
    .second-word {
        font-size: 4rem;
    }
    .third-word {
        font-size: 1.4rem;
    }
    .sents p{
        font-size: 1rem;
        margin-left: 70px;
        margin-right: 5px;
        align-items: center;
    }
    .sents img{
        margin-left: 150px;
    }
    .cont {
        width: 400px;
        margin-left: 10px;
    }
    .cont p {
        margin-left: 410px !important;
        width: 20px !important;
    }
    .one span {
        width: 70%;
    }
    .two span {
        width: 55%;
    }
    .three span {
        width: 39%;
    }
    .body-first p,.body-first h5,.body-second h5,.body-first h1,.body-second h1,.body-second p{
        text-align: center;
        margin-left: 100px;
        width: 100%;
    }
    .body-third {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 40px;
        margin-bottom: 100px;
    }
    .body-third li{
        text-align: center;
        width: 100%;
        margin-top: 40px; 
        color: black;
        font-size: 20px;
        border-width: 5px;
        border-style: solid;
        border-color: black;
        padding: 10px 20px;
        transition: all 0.5s ease;
    }
    .body-third li a {
        border: none;
    }
    .body-third li:hover {
        border: 5px solid crimson;
        color: crimson;
    }
    .body-third li:hover a{
        border: none;
        color: crimson;
        width: 100%;
    }
    .img-sect{
        flex-direction: column;
        margin-left: 120px;
    }
    .tes, .center {
        margin-right: 2px;
        margin-left: 2px;
        flex-direction: column;
        margin-left: 24%;
    }
    .spac {
        height: 20px;
    }
    .back{
        width: 100%;
    }
    

}
@media screen and (max-width:450px) {
    .sents img{
        margin-left: 120px;
    }
    .img-sect,.tes, .center {
        margin-left: 100px;
    }
    .cont {
        width: 330px;
        margin-left: 10px;
    }
    .cont p {
        margin-left: 340px !important;
        width: 20px !important;
    }
    .spac {
        height: 70px;
    }
    .img-sect{
        flex-direction: column;
        margin-left: 79px;
    }
    .tes, .center {
        margin-right: 2px;
        margin-left: 2px;
        flex-direction: column;
        margin-left: 17%;
    }
    .back{
        width: 100%;
    }
    
}

@media screen and (max-width:400px) {
    .second-word {
        font-size: 3rem;
    }
    .third-word {
        font-size: 1.1rem;
    }
    .sents p{
        font-size: 0.5rem;
        width: 100%;
        align-items: center;
        margin-left: 20px;
    }
    .sents img{
        margin-left: 90px;
    }
    .cont {
        width: 300px;
        margin-left: 10px;
    }
    .cont p {
        margin-left: 320px !important;
        width: 20px !important;
    }
    .one span {
        width: 70%;
    }
    .two span {
        width: 55%;
    }
    .three span {
        width: 39%;
    }
    .img-sect,.tes, .center {
        margin-left: 80px;
    }
    .back {
        top: 1020%;
    }
    .fa-star, .fa-star-half-stroke {
        color: white;
        font-size: 1.5rem;
        text-align: center;
        margin-left: -2px;
    }
    .img-sect,.tes, .center {
        margin-left: 60px;
    }
    .back{
        width: 100%;
    }
}

@media screen and (max-width:380px){
    .fa-star, .fa-star-half-stroke{
        margin-right: 5px;
    }
    .img-sect,.tes, .center {
        margin-left: 60px;
    }
    .back{
        width: 100%;
    }
    
}
@media screen and (max-width:360px){
    .fa-star, .fa-star-half-stroke{
        margin-right: 5px;
    }
    .img-sect,.tes, .center {
        margin-left: 60px;
    }
    
}

